<header class="panel-cover {{#if post}}panel-cover--collapsed{{/if}} {{#if code}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
{{> social}}
        {{#if @blog.logo}}
        <a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}"><img src="{{@blog.logo}}" width="80" alt="{{@blog.title}} logo" class="panel-cover__logo logo" /></a>
        {{/if}}
        <h1 class="panel-cover__title panel-title"><a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}">{{@blog.title}}</a></h1>
        {{!-- <span class="panel-cover__subtitle panel-subtitle">Visual Designer</span> --}}
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{@blog.description}}</p>
      

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
               <li class="navigation__item"><a href="/bio" title="link to {{@blog.title}} blog" class="button">Bio</a></li>
              <li class="navigation__item"><a href="/tag/writing" title="link to {{@blog.title}} blog" class="blog-button">Writing</a></li>
               <li class="navigation__item"><a href="/tag/interviews" title="link to {{@blog.title}} " class="blog-button">Interviews</a></li>
               <li class="navigation__item"><a href="/tag/media-mentions" title="link to {{@blog.title}} " class="blog-button">Media Mentions</a></li>
                 <li class="navigation__item"><a href="http://scholar.google.com/citations?user=vGDyc_kAAAAJ&hl=en&oi=ao" target="blank" >Medical &amp Scientific Articles</a></li>
              
            </ul>
          </nav>

          

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>