{{!< default}}

<main class="post-list">

{{#foreach posts}}

    {{#has tag="external"}}

      <h3 class="post-link external">
        <i class="fa fa-fw fa-link"></i>
        <a class="js-link-to-update" target="_blank" href="{{url}}" title="{{title}}">{{title}}</a>
         &middot; 
        <span class="date">{{date published_at format="MMMM DD, YYYY"}}</span>
        <div class="link">
          {{content}}
        </div>
      </h3>

      {{else}}

      <h3 class="post-link">
        <a href="{{url}}" title="{{title}}">{{title}}</a>
         &middot; 
        <span class="date">{{date published_at format="MMMM DD, YYYY"}}</span>
         &middot; 
        <span class="read-time" data-file="{{url}}" data-target=".content"></span>
        {{#if tags}} 
           &middot; 
          <span class="tags">{{tags separator=" "}}</span> 
        {{/if}} 
      </h3>

    {{/has}}

{{/foreach}}

{{pagination}}

</main>